@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

.myButton {
    font-family: 'Fredoka', sans-serif;
    border-radius: 20px;
    background-color: #75563e;
    padding: 15px;
    font-size: large;
    color: #fcf6eb;
    border: none;
    cursor: pointer;
    font-size: 15pt;
    /* font-weight: 600; */
}