.square {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: calc(min(4vh, 4vw));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.square::before {
    content: "";
    position: absolute;
    z-index: -1;

    filter: blur(1.5rem);
    background: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}