* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

html {
  background-color: #fcf6eb;
}

.App {
  height: 100vh;
}

.wrapper {
  display: flex;
  justify-content: center;
  height: inherit;
  /* align-items: center; */

}

.main {
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}